<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs%>
      <link rel="stylesheet" href="/css/prompts.css">
    </header>

    <main>
      <div class="prompt-show">
        <h3><%= prompt.title %></h3>
        <% if (prompt.body) { %>
          <p><%= prompt.body %></p>
        <% }%>
        <a href="/users/<%= prompt.author.id %>">
          <p class="blockquote-footer text-muted byline">
            <%= prompt.author.username %>
          </p></a>
      </div>

      <div class="prompt-details">
        <div class="prompt-stats">
          <ul>
            <% for (let tag of prompt.tags) { %>
              <li>
                <a href="/prompts/tagged/<%= tag %>">
                  #<%= tag %>
                </a>
              </li>
            <% }%>
          </ul>
        </div>

        <div class="prompt-options">
          <% if (currentUser) { %>
            <% if (prompt.author.username === currentUser.username) { %>
              <a href="/prompts/<%= prompt.id %>/edit"><button class="btn btn-light">Edit</button></a>

              <form class="" action="/prompts/<%= prompt.id%>?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-light">
              </form>
            <% } else { %>
              <a href="/prompts/<%= prompt.id %>/reply/new"><button class="btn btn-light">Reply</button></a>
          <% }}%>
        </div>
      </div>

      <div class="prompt-responses">
        <% for (let reply of prompt.replies) { %>

          <div class="reply">
            <h4>
              <a href="/prompts/<%= prompt.id %>/replies/<%= reply._id %>">
                <%= reply.title %>
              </a>
            </h4>
            <a href="/users/<%= reply.author.id %>" class="text-muted byline">
                by <%= reply.author.username %>
            </a>

            <% let cutBody = reply.body.slice(0, 200);%>
            <p>
              <%= cutBody %>...
              <a class="readmore" href="/prompts/<%=prompt.id%>/replies/<%= reply._id %>">
                Read more
              </a>
            </p>
          </div>

        <% }%>
      </div>

    </main>

    <footer>
      <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
