<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs%>
      <link rel="stylesheet" href="/css/prompts.css">
    </header>

    <main>
      <a href="/prompts/<%= reply.prompt.id %>">
        <button class="btn btn-dark">
          Back to the prompt
        </button>
      </a>

      <br><br>

      <h4>Original prompt:</h4>
      <blockquote cite="/prompts/<%=reply.prompt.id%>" class="quote">
        <%= reply.prompt.title %>
      </blockquote>

      <div class="reply">
        <h4><%= reply.title %></h4>
        <a href="/users/<%= reply.author.id %>" class="text-muted byline">
            by <%= reply.author.username %>
        </a>

        <p>
          <% reply.body = reply.body.replace(/\n/g, "<br />") %>
          <%- reply.body %>
        </p>
      </div>

      <div class="reply-stats">
        <ul>
          <% for (let tag of reply.tags) { %>
            <li>
              <a href="/prompts/replies/tagged/<%= tag %>">
                #<%= tag%>
              </a>
            </li>
          <% }%>
        </ul>
      </div>

      <div class="reply-options">
        <% if (currentUser) { %>
          <% if (reply.author.username === currentUser.username) { %>
            <a href="/prompts/<%= reply.prompt.id %>/replies/<%= reply._id %>/edit">
              <button class="btn btn-light">
                Edit
              </button></a>

            <form class="" action="/prompts/<%= reply.prompt.id%>/replies/<%= reply._id%>?_method=DELETE" method="POST">
              <input type="submit" value="Delete" class="btn btn-light">
            </form>
          <% } %>
        <% }%>
      </div>
    </main>

    <footer>
      <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
