<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs%>
      <link rel="stylesheet" href="/css/prompts.css">
    </header>

    <main>
      <a href="/prompts/<%= reply.prompt.id %>">
        <button class="btn btn-dark">
          Back
        </button>
      </a>

      <br><br>

      <h4>Original prompt:</h4>
      <blockquote cite="/prompts/<%=reply.prompt.id%>" class="quote">
        <%= reply.prompt.title %>
      </blockquote>

      <div class="reply">
        <h4><%= reply.title %></h4>
        <a href="/users/<%= reply.author.id %>" class="text-muted byline">
            by <%= reply.author.username %>
        </a>

        <p><%= reply.body %></p>
      </div>
    </main>

    <footer>
      <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
