<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs%>
      <link rel="stylesheet" href="/css/users.css">
    </header>

    <main class="user-show">
      <img src="<%= user.avatar%>" alt="avatar" class="img-thumbnail">

      <h2><%= user.username %></h2>

      <% if (currentUser) { %>
        <% if (user.username === currentUser.username) { %>
          <a href="/users/<%= user._id %>/edit">
          <button>
            Change username and/or password
          </button>
          </a>
          <form action="/users/<%= user._id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete your account" class="btn btn-danger">
          </form>
        <% }%>
      <% }%>

      <br>
      <h5>Prompts written by <%= user.username%></h5>
      <ul>
        <% for (let prompt of user.prompts) { %>
          <li><a href="/prompts/<%= prompt._id %>"><%= prompt.title %></a></li>
        <% }%>
      </ul>

      <h5>Stories written by <%= user.username %></h5>
      <ul>
        <% for (let story of user.replies) { %>
          <li> <a href="/prompts/<%= story.prompt.id %>/replies/<%= story._id%>">
            <%= story.title %>
          </a> </li>
        <% }%>
      </ul>

    </main>

    <footer>
      <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
