<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs%>
      <link rel="stylesheet" href="/css/users.css">
    </header>

    <main class="user-show">
      <% if (user.avatar) { %>
        <img src="<%= user.avatar%>" alt="avatar" class="img-thumbnail">
      <% }%>

      <h2><%= user.username %></h2>
      <br>
      <h5>Prompts written by <%= user.username%></h3>
      <ul>
        <% for (let prompt of user.prompts) { %>
          <li><a href="/prompts/<%= prompt._id %>"><%= prompt.title %></a></li>
        <% }%>
      </ul>

      <h5>Stories written by <%= user.username %></h5>
      <ul>
        <% for (let story of user.replies) { %>
          <li> <a href="/prompts/<%= story.prompt.id %>/replies/<%= story._id%>">
            <%= story.title %>
          </a> </li>
        <% }%>
      </ul>

      <% if (currentUser) { %>
        <% if (user.username === currentUser.username) { %>

        <% }%>
      <% }%>

    </main>

    <footer>
      <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
